---

---

<ul>
  <li>
    <a href="/">Inicio</a>
  </li>
  <li>
    <a href="about/kanto">Kanto</a>
  </li>
  <li>
    <a href="about/starters">Starters</a>
  </li>
  <li>
    <a href="about/legendary-birds">Legendary Birds</a>
  </li>
  <li>
    <a href="about/pokedex">About pokédex</a>
  </li>
</ul>

<style>
  ul {
    li{
        list-style:georgian;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
</style>
